* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 15%;
    list-style: none;
    position: sticky;
    top: 0;
    margin-bottom: 1px;
    z-index: 10;
  }

  .navlinks {
    position: relative;
    text-decoration: none;
    color: grey;
    text-align: center;
    /* justify-self: center; */
    padding: 10px 3px 3px 3px;
    font-size: medium;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .about_links img {
    justify-self: center;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    opacity: 1;
    transition: filter 0.25s;
  }

  .about_links img:hover{
    filter: brightness(0) invert(1);
  }

  .navlinks:hover {
    color: white;
  }

  .navlinks.logo_main  {
    width: 49px;
    height: 80px;

  }
  .navlinks.home  {
    margin-right: 15px;
    padding-left: 0;
    padding-right: 5px;

    align-self: flex-start;

  }
  .navlinks.logo_main:hover .logo_Top{
    transform: rotate(320deg);
  }

  .logo_Top{
    height: 30px;
    width: 30px;
    align-self: flex-end;
    transition: transform .7s ease-in-out;
  }


  .userProfileBtn {
    padding: 5px;
  }

  .profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #606060;
    padding: 25px;
    border-radius: 6px;
    color: grey;
  }

  .dropdown button {
    background-color: grey;
    border: solid 2.3px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.5s;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: medium;
    font-family: "Inter", sans-serif;
    padding: 3px 9px;
  }

  .dropdown button:hover {
    background-color: lightslategray;
    border: solid 2.3px lightslategray;
  }

  .profile-dropdown>div {
    padding: 5px;
    font-size: large;
  }

  .navbar_search_container{
    width: 320px;
    height: 35px;
  }

  .navbar_search  {
    width: 300px;
    height: 100%;
    color: white;
    background-color: rgb(30,33,36);
    border: 2px solid rgb(64,73,78);
    border-radius: 5px;
  }

  .logout_button{
    background-color: grey;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid  rgb(64,73,78);
    border-radius: 5px;
  }
  .logout_button:hover{
    background-color: white;
  }
  .search_results {
    position: relative;
    /* margin-top: 25px; */
    border-radius: 5px;
    border: 2px solid rgb(64,73,78);
    top: 4px;
    width: 295px;
    height: 180px;
    overflow-y: scroll;
    background-color: rgb(30,33,36);


  }
.search_results_li {
  list-style: none;
  color: white;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  align-items: center;
  background-color: rgb(30,33,36);
}
.search_results_li:hover {
  list-style: none;
  background-color: lightgrey;
  color: #f50;
}
.search_results_a {
  text-decoration: none;
  color: white;
}
