.DetailCard_container{
    /* border: 1px solid orange; */
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.detailcard_top{
    padding-bottom: 35px;
    border-bottom: 2px dotted rgb(64,73,78);
    justify-content: space-between;
}
.detailcard_top_right{
    height: 75px;
    width: 75px;
}
.detailcard_logo img{
    height: 100%;
    width:100%;
}
.detailcard_app_logo img{
    height: 90px;

}
.detailcard_header{
    font-size: 32px;
    font-weight:bold;
}
.current_price{
    font-size: 32px;
}
.price_change{
    font-size: 13px;
}

.detailcard_chartSection{

    height: 200px;
    width: 100%;
}
.chart_header{

    height: 100%;
    width:100%;
    font-size: 32px;
    font-weight:bold;
    padding-bottom: 15px;

}
.about{
    /* border: 1px solid green; */
    margin-top: 35px;


}
.about_header{
    font-size: 32px;
    font-weight:bold;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(64,73,78);
}

.about_info{
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-between;
}

.info_label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight:bold;
}

.info_detail{
    margin-bottom: 10px;
    font-size: 20px;

}
