.stocklist_container{
    border: 1px solid orange;
    padding: 10px;
    width: 80%;
    height: 79vh;
}
.stocklist_body{
    border: 2px solid rgb(64,73,78);
    border-radius: 5px;
    background-color: rgb(30,33,36);
    height: 100%;
    color: white;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
  }

.stocklist_header{
    width: 100%;
    min-height: 60px;
    background-color: rgb(30,33,36);
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 2px solid  rgb(64,73,78);
}

.stocklist_main{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.stocklist_teams{
    width: 100%;
    min-height: 60px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 24px;
}
.stocklist_players{
    min-height: 60px;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
}

.stockListHeader{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between
}

.stocklist_dropdown{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between
}
.stockCard_body{
    width: 100%;
    height: 52px;
    color: white;
    align-items: center;
    justify-content: space-between
}
